body {
  background-color: #F5F5F5; /* Une couleur plus claire pour le fond */
  font-family: 'Segoe UI', sans-serif; /* Une police moderne et lisible */
}

:root {
  --color: #3498db; /* Une nuance de bleu vif et moderne */
}

#title {
  padding: 60px;
  color: var(--color);
}

#one, #two {
  height: 200px;
  color: var(--color);
}

#game {
  height: 400px;
  color: var(--color);
}

#rollDice, #hold {
  margin: 40px;
  background-color: var(--color); /* Utilisation de la couleur définie pour les boutons */
  color: white; /* Texte en blanc pour contraster */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Transition fluide au survol */
}

#rollDice:hover, #hold:hover {
  background-color: #2980b9; /* Couleur légèrement plus foncée au survol */
}

#scoreOne, #scoreTwo {
  padding: 105px;
  color: #555; /* Une couleur de texte plus sobre pour les scores */
}

img {
  width: 70px;
  height: 70px;
  border-radius: 50%; /* Une bordure arrondie pour les images */
}

.btn {
  font-weight: 600; /* Légèrement plus gras pour plus de contraste */
}

.btn:hover {
  color: #3498db; /* Changement de couleur au survol pour attirer l'attention */
  font-size: larger;
  transition: font-size 0.8s ease;
}

h1, h5 {
  text-decoration: none; /* Pas de soulignement pour les titres */
  font-weight: bold;
}

.offcanvas-body p {
  font-style: normal; /* Texte normal pour l'offcanvas */
}

#rollDice::before {
  content: "Lancer le dé"; /* Texte complet */
  display: block;
}

#hold::before {
  content: "Valider mon score"; /* Texte complet */
  display: block;
}

/* Media query pour les écrans de petite taille, tels que les mobiles */
@media (max-width: 967px) {
  body {
    font-size: 14px; /* Réduire la taille de la police pour une meilleure lisibilité sur mobile */
  }

  #title {
    padding: 20px; /* Réduire l'espace de marge sur le titre */
  }

  #one, #two {
    height: auto; /* Ajuster la hauteur automatiquement en fonction du contenu */
  }

  #game {
    height: auto; /* Ajuster la hauteur automatiquement en fonction du contenu */
  }

  #rollDice, #hold, #replay {
    margin: 20px; /* Réduire la marge autour des boutons */
    padding: 8px 16px; /* Réduire la taille des boutons */
  }

  h1, h5 {
    font-size: 1.2rem; /* Réduire la taille de la police des titres */
  }
  #rollDice, #hold {
    margin: 10px; /* Réduire la marge autour des boutons */
    padding: 5px 10px; /* Réduire la taille des boutons */
    font-size: 14px; /* Réduire la taille de la police des boutons */
  }

  #rollDice:before {
    content: "Lancer"; /* Texte abrégé */
  }

  #hold:before {
    content: "Valider"; /* Texte abrégé */
  }
}
